.App-header {
    background-image:url("head.png");
    background-repeat:no-repeat;
    background-position:center;
    background-color: rgb(253, 167, 196);
    width:150vw;
    height:10vw;
    display: flex;
    font-family: Papyrus;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(25px + 2vmin);
    font-weight: bold;
    color:rgb(241, 205, 232);
    text-shadow: 0 0 15px rgb(216, 51, 51);
    
  }

.input {
    background-color: rgb(253, 167, 196);
    border-radius: 5vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    margin: 2vh auto;
    padding: 3vh;
}

.image {
    background-color: rgb(216, 228, 240);
    border-radius: 1vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    margin: 2vh;
    padding: 4vh;
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#result {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}