.App {
  text-align: center;
}


img{
 display: block;
 height: auto;
 width: 900px;
 background-size:contain;
 background-repeat:no-repeat;
background-position: center center;
}

.test{
  background-image:url( 'bg.png' );
  background-position:center;
  height: 80vw;
  width: 100vw;
  background-repeat:no-repeat;
  background-size:contain;
}